# intellij files
.idea/

# node_modules
udemy-react-complete-guide/projects/react-complete-guide/node_modules/

youtube-projects/jsmastery-chat-app/server/node_modules/
youtube-projects/fb-clone-clever-programmer/fb-clone/node_modules/

# env file

